@CHARSET "ISO-8859-1";

@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Fjalla+One|Hammersmith+One|Passion+One');
@import url('https://fonts.googleapis.com/css?family=Courgette');

@media (max-width: 991px){
  
  #footer img{
    margin: 8px auto;
    display: block;
  }

  .footer-top p {
    text-align: center;
    font-size: 12px;
  }

}
@media (max-width: 767px) {
  #institutional-navbar .navbar-nav .open .dropdown-menu > li > a {
    color: #f7fbff;
  }
  #institutional-navbar .navbar-nav .open .dropdown-menu > li > a:hover,
  #institutional-navbar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #9cb0c4;
  }
  #institutional-navbar .navbar-nav .open .dropdown-menu > .active > a,
  #institutional-navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
  #institutional-navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #9cb0c4;
    background-color: #2d4052;
    padding: 15px;
  }
  #ongbook-title{
    padding-left: 0px;
  }
  .cards_ajuda {
    margin-bottom: 20px;
  }
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
  width: 100% !important;
}

@media (max-width: 768px) {
  .cards_ajuda {
    margin-bottom: 20px;
  }
  #tresPassos {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 1050px) {
  body[data-hijacking="on"] {
    overflow: hidden;
  }
}

.cd-section {
  height: 100vh;
}

#search {
	font-size: 22px !important;
  padding-left: 10px !important;
}
#number {
	width: 100px;
}

#street {
  width: 600px;
}

#header-component {
	padding-bottom: 20px;
}

#register-social-entity{
  background: linear-gradient(180deg, #105596 30%, white 80%, #000 100%);
  height: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.rounded{
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: white;
  border-radius: 5px;
  padding: 1px 20px 20px 20px;
}

.register-title-content{
  margin-top: 20px;
}

#register-content-step-1{
  padding: 60px 0 30px 0;
}

#input-area-atuacao{
  margin-top: 30px
}

#atuation-area-input{
  padding: 20px 0 0 0;
}

.register-form-content{
  padding: 40px 0 30px 0;
}

#entity-address-register{
  margin-top: 10px;
}

#btn-cep-search{
  font-size: 17px;
}

#register-upload-img{
  background-color: #f7f7f7;
  padding: 12px 0 12px 0;
  width: 146px;
  max-width: 146px;
  min-width: 146px;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 4px 4px 3px 3px;
}

#icone-upload-img{
  font-size: 30px;
  margin-bottom: 5px;
}

#btn-choose-file{
  width: 146px;
  max-width: 146px;
  min-width: 146px;
  margin: 0 auto;

}

#btn-register-content-1{
  margin-top: 50px;
}

.btn-register-content-2{
  margin-top: 10px;
}

/* nav-bar-home-institutional *************************************/
#institutional-navbar {
  background-color: #43607d;
  border: none;
  padding: 10px;
  border-bottom: 1px solid rgba(245, 245, 245, 0.15);
}
#institutional-navbar .navbar-brand {
  color: #f7fbff;
}
#institutional-navbar .navbar-brand:hover,
#institutional-navbar .navbar-brand:focus {
  color: #9cb0c4;
}
#institutional-navbar .navbar-text {
  color: #f7fbff;
}
#institutional-navbar .navbar-nav > li > a {
  color: #f7fbff;
}
#institutional-navbar .navbar-nav > li > a:hover,
#institutional-navbar .navbar-nav > li > a:focus {
  color: #9cb0c4;
}
#institutional-navbar .navbar-nav > .active > a,
#institutional-navbar .navbar-nav > .active > a:hover,
#institutional-navbar .navbar-nav > .active > a:focus {
  color: #9cb0c4;
  background-color: #2d4052;
}
#institutional-navbar .navbar-nav > .open > a,
#institutional-navbar .navbar-nav > .open > a:hover,
#institutional-navbar .navbar-nav > .open > a:focus {
  color: #9cb0c4;
  background-color: #2d4052;
}
#institutional-navbar .navbar-toggle {
  border: none;
}
#institutional-navbar .navbar-toggle:hover,
#institutional-navbar .navbar-toggle:focus {
  background-color: #2d4052;
}
#institutional-navbar .navbar-toggle .icon-bar {
  background-color: #f7fbff;
}
#institutional-navbar .navbar-collapse,
#institutional-navbar .navbar-form {
  border: none;
}
#institutional-navbar .navbar-link a{
  color: #f7fbff;
}
#institutional-navbar .navbar-link a:hover {
  color: #9cb0c4;
}

.navbar-brand img{
  margin-top: -18px;
  height: 56px;
}

#ongbook-title{
  font-family:tahoma,verdana,arial,sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #f19c14;
  padding-left: 16px;
}
.navbar-login
{
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}

.navbar-login-session
{
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.icon-size
{
  font-size: 87px;
}

#login-dp{
  min-width: 250px;
  padding: 14px 14px 0;
  overflow:hidden;
  background-color:rgba(255,255,255,1);
}
#login-dp .help-block{
  font-size:12px
}
#login-dp .bottom{
  background-color:rgba(255,255,255,1);
  border-top:1px solid #ddd;
  clear:both;
  padding:14px;
}
#login-dp .social-buttons{
  margin:12px 0
}
#login-dp .social-buttons a{
  width: 49%;
}
#login-dp .form-group {
  margin-bottom: 10px;
}

.btn-fb{
  color: #fff;
  background-color:#3b5998;
}
.btn-fb:hover{
  color: #fff;
  background-color:#496ebc
}
.btn-tw{
  color: #fff;
  background-color:#55acee;
}
.btn-tw:hover{
  color: #fff;
  background-color:#59b5fa;
}

#lk-signup{
  cursor: pointer;
}

/* CUSTOMIZAÇÃO PARA A SESSÃO MAPA - HEADER */
#maps {
  width: 100%;
  padding-top: 75px;
  padding-bottom: 138px;
  background: url(http://localhost:8080/assets/img/maps_home.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#maps .big_text_maps {
  font-size: 3em;
  font-family: 'Hammersmith One', sans-serif;
  text-align: center;
  margin-top: 150px;
  color: #767676;
}

#maps .big_text_maps h1 {
  text-shadow: 1px 1px 1px #fff;
}

#maps .big_text_maps h1 {
  text-shadow: 1px 1px 1px #fff;
}

#maps .big_text_maps address {
  font-size: 0.5em;
  font-family: 'Hammersmith One', sans-serif;
  text-align: center;
  color: #767676;
}

#maps .big_text_maps button {
  background-color: #43607d !important;
  border-color: #43607d !important;
}

#maps .big_text_maps button span {
  color: #fff;
}
/* END */

/* CUSTOMIZAÇÃO PARA A SESSÃO 2 */
#section_2 {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 65px;
  background: #fff;
}

#section_2 h1 {
  color: #767676;
  font-family: 'Hammersmith One', sans-serif;
  margin-bottom: 40px;
}

#section_2 address {
  color: #767676;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Hammersmith One', sans-serif;
}

#section_2 address span {
  color: #70c0bd;
  font-size: 1em;
}

#section_2 h1 i {
  vertical-align: middle;
}

#section_2 .block_2 h1 {
  margin-bottom: 0;
}

#section_2 .block_2 ul {
  list-style: none;
}

.padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.font-11 {
  font-size: 11px !important;   
}

.font-12 {
  font-size: 12px !important;   
}

/* VIDEO */
.ongBook-responsive-embed { 
  position: relative; 
  height: 285px; 
  overflow: hidden; 
  padding-top: 0; 
  padding-left: 0; 
  padding-right: 0; 
}
  
.ongBook-responsive-embed iframe, 
.ongBook-responsive-embed object, 
.ongBook-responsive-embed embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  border: 0; 
}
/* END */

/* SESSÃO FRASE */
#section_frase {
  text-align: center;
  padding-bottom: 80px;
}

#section_frase h3 {
  font-family: 'Courgette', cursive;
  color: #607d8b;
  margin-bottom: 0;
}
/* END */

/* CUSTOMIZAÇÃO PARA A SESSÃO 4 */
#section_4 {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 125px;
  background: #43607d;
}

#section_4 h1 {
  color: #fff;
  font-family: 'Hammersmith One', sans-serif;
  margin-bottom: 40px;
  margin-top: 0;
}

#section_4 .cards_ajuda i.usdIcon {
  position: absolute;
  right: 149px;
  margin: 62px 18px;
  color: #fff;
  font-size: 80px;
}

#section_4 hr {
  margin-top: 10px !important;;
  margin-bottom: 10px !important;;
  border: 0 !important;;
  border-top: 1px solid #e6e6e6 !important;;
}

#section_4 h2 {
  color: #fff;
  font-family: 'Hammersmith One', sans-serif;
  margin-bottom: 40px;
  margin-top: 0;
  text-align: center;
}

#section_4 .cards_ajuda {
  background: #f5f5f5; 
  padding: 10px;
  color: #fff;
  font-family: 'Hammersmith One', sans-serif;
  text-align: center;
  border-radius: 4px;
  outline: 6px transparent dotted;
  outline-offset: 10px;
  -webkit-transition: outline 0.5s; /* Safari */
  transition: outline 0.5s;
}

#section_4 .cards_ajuda:hover {
  outline: 3px #f5f5f5 solid;
  outline-offset: 10px;
}

#section_4 .cards_ajuda span {
  color: #767676;
  font-size: 1.1em;
  font-family: 'Hammersmith One', sans-serif;
}

#section_4 .cards_ajuda i {
  color: #43607d;
  margin-top: 25px;
  font-size: 11em;
}

#section_4 .cards_ajuda button {
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 1.5em;
}
/* END */

#section_5 {
  padding-top: 100px;
  padding-bottom: 100px;
}

#section_5 h1 {
  color: #767676;
  font-family: 'Hammersmith One', sans-serif;
  margin-bottom: 0;
}

#section_5 h3 {
  color: #fff;
  font-family: 'Hammersmith One', sans-serif;
  /* margin-bottom: 0; */
}

#section_5 .cadOng {
  background: #607d8b;
  padding: 50px;
  height: 400px;
}

#section_5 .cadOng input {
  height: 60px;
}

#section_5 .cadOng button {
  background: #ffcc00;
  height: 60px;
  font-size: 20px;
}

#section_5 .cadOng button i {
  font-size: 22px;
}

/* Footer */
footer {
  background-color: #16222d;
  position: absolute;
  bottom: 0;
}

footer p,address,span {
  color: #f19c14;
  font-size: small;
}

footer a {
  color: white;
  text-decoration: none;
}

footer nav{
  margin-top: 8px;
  text-align: center;
}

footer nav :not(:first-child){
  margin-left: 20px;
}

i.fa-1x{
  color: white;
}

i.fa-1x:hover{
  color: #f19c14;
}

footer img{
  height: 40px;
}



/* Login */
#background-login {
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
}

.card-container.card {
  max-width: 350px;
  padding: 40px 40px;
}

.card {
  background-color: #F7F7F7;
  /* just in case there no content*/
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  /* shadows and rounded borders */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

#profile-img-card {
  width: 70px;
  margin: 0 auto;
  display: block;
}

/* Form styles */
.profile-name-card {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 0;
  min-height: 1em;
}

.reauth-email {
  display: block;
  color: #404040;
  line-height: 2;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
  direction: ltr;
  height: 44px;
  font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin .form-control:focus {
  border-color: rgb(104, 145, 162);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn-signin {
  /*background-color: #4d90fe; */
  background-color: rgb(104, 145, 162);
  /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
  padding: 0px;
  font-weight: 700;
  font-size: 14px;
  height: 36px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  -o-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -webkit-transition: all 0.218s;
  transition: all 0.218s;
}

.btn-signin:hover,
.btn-signin:active,
.btn-signin:focus {
  background-color: rgb(12, 97, 33);
}

.forgot-password {
  color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
  color: rgb(12, 97, 33);
}

#logo-dashboard {
  height: 220%;
}